# first we have the core requirements
# i.e. libraries used for running 
# code in the notebooks per se
#
ipykernel
ipywidgets
numpy
pandas
matplotlib
# seaborn
ipythontutor
nbautoeval

# jupyter extensions
#
rise
jupyter-contrib-nbextensions

# this part is for readthedocs
#
jupytext
Sphinx>=3.2
sphinx-rtd-theme
jupyter_client
calysto_bash
